<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://tony19.github.io/logback-android/xml"
    xsi:schemaLocation="https://tony19.github.io/logback-android/xml https://cdn.jsdelivr.net/gh/tony19/logback-android/logback.xsd">

    <root level="${LOG_LEVEL}">
        <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
            <tagEncoder>
                <pattern>CA:%logger</pattern>
            </tagEncoder>
            <encoder>
                <pattern>%msg</pattern>
            </encoder>
        </appender>

        <condition class="ch.qos.logback.core.boolex.IsPropertyDefinedCondition">
            <key>LOG_FILE_DIRECTORY</key>
        </condition>
        <if>
            <then>
                <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
                    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <fileNamePattern>${LOG_FILE_DIRECTORY}/CA-%d{yyyy-MM-dd}.log
                        </fileNamePattern>
                        <maxHistory>4</maxHistory>
                        <cleanHistoryOnStart>true</cleanHistoryOnStart>
                    </rollingPolicy>

                    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                        <level>DEBUG</level>
                    </filter>

                    <encoder>
                        <pattern>%d{HH:mm:ss.SSS} %-36.36logger %.-1level %msg%n</pattern>
                    </encoder>
                </appender>
            </then>
        </if>
    </root>
</configuration>
