<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".CameraApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/CameraAppStartingTheme">

        <activity
            android:name=".stamps.ui.StampsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".cut.ui.NewStampActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NewStampStartingTheme"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".about.ui.HtmlActivity"
            android:exported="false" />

        <activity
            android:name=".envelopes.ui.OpenEnvelopeActivity"
            android:exported="true">
            <intent-filter android:label="@string/receive_stamps_shortcut">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />

                <!-- 🏔️ -->
                <!-- K2 next -->
                <!-- No sherpa, no oxygen 🧗-->
                <!-- The peak of Android development -->
                <data android:pathPattern=".*\\.onestamp" />
                <data android:pathPattern=".*\\..*\\.onestamp" />
                <data android:pathPattern=".*\\..*\\..*\\.onestamp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.onestamp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.onestamp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.onestamp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.onestamp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.onestamp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.onestamp" />
                <!-- 🚩⛺⛺⛺ Welcome to the base camp 🚩🪨🪨 ⛺⛺🎒 🪨🚩 🎒🎒⛺⛺🚩 🪨 🚶 🚁 -->
            </intent-filter>
        </activity>

        <provider
            android:name=".envelopes.data.EnvelopeContentProvider"
            android:authorities="${envelopeContentProviderAuthority}"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name=".stamps.data.StampFileContentProvider"
            android:authorities="${stampFileContentProviderAuthority}"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name=".stamps.data.StampPosterContentProvider"
            android:authorities="${stampPosterContentProviderAuthority}"
            android:exported="false"
            android:grantUriPermissions="true" />

        <receiver
            android:name=".util.ShareSheetShareEventReceiver"
            android:exported="false" />
    </application>
</manifest>
